<%- include("../partials/userheader") -%>



<div class="container ">
    <div class="row justify-content-center align-items-center pt-100 pb-100">
        <div class="col-lg-5">
            <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                <div class="padding_eight_all bg-white">
                    <form onsubmit="return validateform()" method="post" action="/confirm_password_check">
                        
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Password" id="password">
                            <span id="passwordError" style="color: red;"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" name="confirm password" placeholder="confirm password" id="confirm password">
                            <span id="confirmpassword-error" style="color: red;"></span>
                        </div>
                        <button type="submit" class="btn mt-15" >Submit</button>  
                    </form>
                </div>
            </div>
        </div> 
    </div>
</div>



<%-include("../partials/userfooter")-%>

<script>
    function validateform() {
        
        document.getElementById('password-error').innerHTML = '';
        document.getElementById('confirmpassword-error').innerHTML = '';

        var password = document.getElementById('password').value;
        var confirmpassword = document.getElementById('confirm password').value;
        
        const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,16}$/;
        
        if (!password.match(passwordRegex)) {
            document.getElementById('password-error').innerText = 'Password must be at least 8 characters long and contain at least one lowercase letter, one uppercase letter, and one digit.';
            setTimeout(function() {
                document.getElementById('password-error').innerHTML = '';
            }, 5000);
            return false;
        }

        if (confirmpassword !== password) {
            document.getElementById('confirmpassword-error').innerText = 'Passwords do not match.';
            setTimeout(function() {
                document.getElementById('confirmpassword-error').innerHTML = '';
            }, 5000);
            return false;
        }


        return true;
    }
</script>
