<%-include("../partials/userheader")-%>

<div class="container ">
    <div class="row justify-content-center align-items-center pt-100 pb-100">
        <div class="col-lg-5">
            <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                <div class="padding_eight_all bg-white">
                    <div class="heading_s1">
                        <h4 class="mb-30">Forget Password?</h4>
                    </div>
                    
                    <form onsubmit="return userloginValidation()" method="post" action="/emailcheck">
                        
                        <% if (errmessage) { %>
                            <div class="alert alert-danger text-center" role="alert">
                                <%= errmessage %>
                            </div>
                        <% }%>
                        <div class="form-group">
                            <span class="mb-30">email address:</span>
                            <input type="text" name="email" placeholder="Your Email" id="email">
                            <span id="emailError" style="color: red;"></span>
                            <small id="para" style="color: red;"><%=locals.errordata ? errordata:''%></small>
                            
                        </div>
                        <!-- <div class="form-group">
                            <span class="mb-30">current password:</span>
                            <input type="password" name="password" placeholder="Password" id="password">
                            <span id="passwordError" style="color: red;"></span>
                        </div> -->
                        <!-- <div class="form-group">
                            <input type="confirmpassword" name="confirmpassword" placeholder="Confirm Password" id="confirmpassword">
                            <span id="ConfirmpasswordError" style="color: red;"></span>
                        </div> -->

                        <div class="form-group">
                            <button type="submit" class="btn btn-fill-out btn-block hover-up" name="emailcheck">Submit your email</button>
                        </div>
                    </form>
                </div>
            </div>
        </div> 
    </div>
</div>



<%-include("../partials/userfooter")-%>

<script>

function userloginValidation() {
  // Input fields
  const email = document.getElementById('email');

  const emailRegex = /^[a-z0-9._%+-]+@gmail+\.[a-z]{3}$/;

  let isValid = true; // A flag to track overall validation

  // Function to clear error message with a delay
  function clearErrorWithDelay(errorField) {
     setTimeout(() => {
        errorField.innerHTML = '';
     }, 5000); // 5000 milliseconds = 5 seconds
  }

  // Function to validate email
  function validateEmail() {
     if (email.value.trim() === '') {
        emailError.innerHTML = 'Email cannot be empty';
        clearErrorWithDelay(emailError);
        isValid = false;
     } else if (!emailRegex.test(email.value)) {
        emailError.innerHTML = 'Please enter a valid email';
        clearErrorWithDelay(emailError);
        isValid = false;
     } else {
        emailError.innerHTML = ''; // Clear error message
     }
  }

   // Validate fields one by one
   validateEmail();
  if (isValid) validateEmail();
  return isValid;
}

</script>
