<%-include("../partials/userheader")-%>

<div class="container ">
    <div class="row justify-content-center align-items-center pt-100 pb-100">
        <div class="col-lg-5">
                <div class="padding_eight_all bg-white">
                    <p>Enter new password:</p>
                    <form method="post" action="/validatePassword">
                        <% if (errmessage) { %>
                            <div class="alert alert-danger text-center" role="alert">
                                <%= errmessage %>
                            </div>
                        <% } else if (message) { %>
                            <div class="alert alert-success text-center" role="alert">
                                <%= message %>
                            </div>
                        <% } %>
                        <div class="form-group">
                            <input type="text" name="password" placeholder="New Password" id="password" >
                            <span id="emailError" style="color: red;"></span>
                        </div>
                        <div class="form-group">
                            <input type="text" name="password" placeholder="Confirm Password" id="password" >
                            <span id="emailError" style="color: red;"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-fill-out btn-block hover-up" >submit</button>
                        </div>
                    </form>
                </div>
            
        </div> 
    </div>
</div>

<%-include("../partials/userfooter")-%>
